spring:
    config:
        import: classpath:/base-config-application.yaml
    # Enable Spring Virtual Threads
    threads:
        virtual:
            enabled: true

base:
    errorhandler:
        enabled: true
    logging:
        request:
            enabled: true
    meter:
        aspect:
            enabled: true

info:
    app:
        name: @project.name@
        version: @project.version@

nrs:
    lookup-data-directory: ${DATA_DIR_LOOKUP:notification-routing-data/data/lookup}
    routing-rules: ${ROUTING_RULES_FILE:rules/routingConfig.json}
    routing-rules73enabled: ${ROUTING_RULES_FILE_7_3:rules/routingConfig_73enabled.json}
    routing-rules73enabled_excerptEncryption: ${ROUTING_RULES_FILE_7_3_EXCERPT_ENCRYPTION:rules/routingConfig_73enabled_excerptEncryption.json}
    routing-rules-with-follow-up: ${ROUTING_RULES_FILE_FOLLOW_UP:rules/routingConfig_with_follow_up.json}
    rules-start-id: ${RULES_START_ID:start}
    client:
        futs: "http://futs.demis.svc.cluster.local"
        futs_context_path: "/fhir-ui-data-model-translation/"
        dlr: "http://destination-lookup-reader.demis.svc.cluster.local"
    workaroundForCologne: ${WORKAROUND_FOR_COLOGNE:true}

feature.flag:
    search.fuzzy: false
    search.comparison: false
    notifications.7.3: false
    excerpt.encryption.enabled: false
    follow.up.notification: false
    permission.check.enabled: false
    custodian.enabled: false
